<html>
<head>
  <title><%= @main.title  %></title>
</head>
<body>
<div id="main">
<h2><%= @main.title %></h2>
<p>
  <%= @main.content %>
  <img src="<%= @main.image %>">
</p>
</div>

<div id="item">
<h3><%= @item.title %></h3>
<p>
  <%= @item.content %>
  <img src="<%= @item.image %>">
</p>
</div>

<div id="question">
<p>
  <%= @question %>
</p>
</div>
</body>
</html>